<div id="sidebar" class="d-flex flex-column align-items-end">
    <div class="profile-wrapper text-center">
        <div id="avatar" class="border border-2 rounded-circle">
            <a href="{% url 'blog:home' %}" class="px-5"></a>
        </div>
        <div class="site-title mt-3"> <a href="">Alemnew</a></div>
        <div class="site-subtitle font-italic">A collection of my thoughts, experiences, tips and
            tutorials.</div>
    </div>
    <ul class="list-unstyled w-100 py-3">
        <li class="nav-item active"> <a href="{% url 'blog:home' %}" class="nav-link"><span>HOME</span> </a></li>
        <li class="nav-item"> <a href="{% url 'blog:categories' %}" class="nav-link"><span>CATEGORIES</span>
            </a></li>
        <li class="nav-item"> <a href="{% url 'blog:tags' %}" class="nav-link"><span>TAGS</span> </a></li>
        <li class="nav-item"> <a href="{% url 'blog:archives' %}" class="nav-link"><span>ARCHIVES</span>
            </a></li>
        <li class="nav-item"> <a href="{% url 'blog:about' %}" class="nav-link"><span>ABOUT</span>
            </a></li>
    </ul>
    <div class="sidebar-bottom mt-auto d-flex justify-content-center align-items-center">
        <a href=" javascript:location.href = 'mailto:' + ['alemnewmarie461','gmail.com'].join('@')" aria-label="email">
            <i class="fas fa-envelope"></i> </a>
        <a href="https://github.com/balewgize" aria-label="github" target="_blank" rel="noopener"> <i
                class="fab fa-github"></i> </a>
        <a href="https://www.linkedin.com/in/balewgize" aria-label="linkedin" target="_blank" rel="noopener"> <i
                class="fab fa-linkedin"></i> </a>
    </div>
</div>